.column-header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}

span {
    flex-grow: 1;
}

span svg {
    margin-left:1rem;
}

button {
    height: 1.4rem;
    width: 1.4rem;
    border: none;
    position:relative;
}

::deep .selections-row {
    display: grid;
    gap: .1rem;
}

::deep .selections-row p {
    margin: auto;
}