.column-footer {
    border-top: 1px solid lightgray;
    display: flex;
    position: sticky;
    top: 0;
    background-color: rgb(240, 240, 240);
}

    span {
        flex-grow: 1;
    }


/* menu buttons */
button {
    position: relative;
    height: 1.4rem;
    width: 1.4rem;
    border: none;
}

    button > ul {
        background-color: rgb(240, 240, 240);
        overflow-y: auto;
        width: max-content;
        min-width: 160px;
        max-height: 100px;
        position: absolute;
        bottom: calc(100% - 6px);
        right: 0;
        list-style: none;
        text-align: left;
        padding: 0;
        border: 1px lightgray solid;
    }

        button > ul > li {
            padding: .5rem 1rem;
            display: flex;
        }

            button > ul > li:hover {
                background-color: lightgray;
            }

            button > ul > li > span {
                margin-right: 10px;
            }

            button > ul > li:nth-last-child() {
                flex-grow: 1;
            }