.notification-wrapper[b-55tf5bkcd1] {
    display: grid;
    gap: 1rem;
    position: fixed;
    right: 1rem;
    top: 1rem;
    width: 30%;
    z-index: 10;
}

.message-box[b-55tf5bkcd1] {
    display: grid;
    grid: "title close" min-content "msg   msg  " min-content / 1fr auto;
    background-color: rgba(211, 211, 211, 0.5);
    border: solid 1px black;
    padding: 1rem;
}

    .message-box h2[b-55tf5bkcd1], .message-box p[b-55tf5bkcd1] {
        margin: 0;
        font-size: small;
    }

    .message-box h2[b-55tf5bkcd1] {
        grid-area: title;
        font-size: large;
    }

    .message-box button[b-55tf5bkcd1] {
        grid-area: close;
        font-size: 20px;
        align-self: start;
        justify-self: end;
        background-color: transparent;
        border: none;
        user-select: none;
    }

    .message-box p[b-55tf5bkcd1] {
        grid-area: msg;
    }

.error-box[b-55tf5bkcd1] {
    background-color: rgba(255, 182, 193, 0.5);
    border: solid 1px darkred;
}

.success-box[b-55tf5bkcd1] {
    background-color: rgba(144, 238, 144, 0.5);
    border: solid 1px darkgreen;
}

.warning-box[b-55tf5bkcd1] {
    background-color: rgba(240, 220, 104, 0.5);
    border: solid 1px goldenrod;
}
