[b-1flfxq69dk]::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

[b-1flfxq69dk]::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

[b-1flfxq69dk]::-webkit-scrollbar-track {
    background: transparent;
}

.wrapper[b-1flfxq69dk] {
    height: max-content;
}

input[b-1flfxq69dk] {
    margin: 0;
    width: 100%;
    padding: 0 1rem;
}

label[b-1flfxq69dk] {
    margin: 0;
    font-size: smaller;
    color: gray;
    width: 100%;
}

.error-msg[b-1flfxq69dk] {
    color: red;
    font-size: smaller;
    margin-left: 2rem;
}

.selection-tags[b-1flfxq69dk] {
    display: flex;
    gap: .2rem;
    flex-wrap: wrap;
    padding: .2rem;
}

    .selection-tags > div[b-1flfxq69dk] {
        position: relative;
        background-color: #85c552;
        width: max-content;
        padding: 0 .5rem;
        font-size: smaller;
        border-radius: 5rem;
        color: white;
        cursor: no-drop;
    }

    .selection-tags div .my-tooltip[b-1flfxq69dk] {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.75);
        width: max-content;
        padding: .2rem .5rem;
        color: white;
        z-index: 1;
        top: 110%;
        border-radius: 10px;
        left: -5%;
    }

    .selection-tags > div:hover[b-1flfxq69dk] {
        background-color: lightpink;
    }

        .selection-tags > div:hover .my-tooltip[b-1flfxq69dk] {
            display: block;
        }

.loading-text[b-1flfxq69dk] {
    color: gray;
    font-size: x-small;
}

.body[b-1flfxq69dk] {
    font-size: small;
    display: grid;
    grid-template-columns: max-content auto;
    overflow-y: scroll;
    max-height: 100px;
    width: 100%;
    border: solid 1px black;
    border-top: none;
}

    .body > div[b-1flfxq69dk] {
        display: grid;
        grid-column: 1 / -1;
        cursor: pointer;
        display: grid;
        grid-template-columns: minmax(2.5rem, max-content) auto;
    }

        .body > div > span:nth-child(1)[b-1flfxq69dk] {
            justify-self: center;
            padding: 0 .3rem;
        }

        .body > div:hover[b-1flfxq69dk] {
            background-color: lightyellow;
        }

    .body > .selected[b-1flfxq69dk] {
        background-color: #dcfdc1;
    }

        .body > .selected:hover[b-1flfxq69dk] {
            background-color: lightpink;
            cursor: no-drop;
        }
