@page "/datagrid"
@using IWorkTooMuch.Blazor.Components
@using System.Data
<h3>DatagridTestPage</h3>

<DataGrid DataSource="datasource"
          CanAddRow="true"
          CanDeleteRow="true"
          CanDownload="true"
          CanEditRow="true"
          CanFilterColumns="true"
          CanImport="true"
          RowsPerPage="10"
          SelectStyle="SelectStyle.Row"
          ShowAggregateRow="true"
          Formatters="formatters">

    <CustomToolbarButtons>
        <button>Custom Btn</button>
    </CustomToolbarButtons>

</DataGrid>

@code {
    private DataTable datasource;

    private Dictionary<string, string> formatters = new();


    protected override void OnInitialized()
    {
        DataTable dt = new();

        formatters.Add("Timestamp", "d");
        formatters.Add("Value", "P2");

        dt.Columns.AddRange(new DataColumn[]
        {
                new("Id", typeof(int)),
                new("Name", typeof(string)),
                new("Timestamp", typeof(DateTime)),
                new("Value", typeof(double)),
                new("Quantity", typeof(int)),
        });

        Random random = new(1337);

        for (int i = 1; i < 140; i++)
        {
            var row = dt.NewRow();

            row[0] = i;
            row[1] = i % 22 == 0 ? $"Mode test" : $"Item {i}";
            row[2] = DateTime.Today.AddDays(random.Next(-20, 20));
            row[3] = (random.NextDouble() - .5) * 10;
            row[4] = random.Next(0, 1000);

            dt.Rows.Add(row);
        }

        datasource = dt;

        base.OnInitialized();
    }

}
