@page "/"
@using IWorkTooMuch.Blazor.Components.Interfaces
@using Model

<div class="wrapper">


</div>
@code{

    [CascadingParameter]
    public Notifier Notifier { get; set; }

    bool modalIsOpen { get; set; } = true;

    void OnSave()
    {
        
    }

    public string input { get; set; }

    private void Notify(int num)
    {
        switch (num)
        {
            case 1:
                Notifier.ProcessNotification("Default", input);
                break;
            case 2:
                Notifier.ProcessSuccess("Succcess", input);
                break;
            case 3:
                Notifier.ProcessWarning("Warning", input);
                break;
            case 4:
                Notifier.ProcessError(new Exception(input));
                break;
        }
    }

}