@page "/stepper"
<h3>Stepper</h3>

<h5>3 steps</h5>
<BlazyStepper>
    <BlazyStepperStep Title="Fill out your name">
        <input />
    </BlazyStepperStep>
    <BlazyStepperStep Title="Fill out your address">
        <input />
    </BlazyStepperStep>
    <BlazyStepperStep Title="Done">
        <p>You are now done.</p>
    </BlazyStepperStep>
</BlazyStepper>

<h5>8 steps</h5>
<BlazyStepper>
    <BlazyStepperStep Title="Fill out your name">
        <input />
    </BlazyStepperStep>
    <BlazyStepperStep Title="Fill out your address">
        <input />
    </BlazyStepperStep>
    <BlazyStepperStep Title="Fill out your step">
        <input />
    </BlazyStepperStep>
    <BlazyStepperStep Title="Fill out your step">
        <input />
    </BlazyStepperStep>
    <BlazyStepperStep Title="Fill out your step">
        <input />
    </BlazyStepperStep>
    <BlazyStepperStep Title="Fill out your step">
        <input />
    </BlazyStepperStep>
    <BlazyStepperStep Title="Fill out your step">
        <input />
    </BlazyStepperStep>
    <BlazyStepperStep Title="Done">
        <p>You are now done.</p>
    </BlazyStepperStep>
</BlazyStepper>

@code {

}
