@page "/accordions"
<PageTitle>Accordions</PageTitle>
<h3>Accordions</h3>
@{
    string _code = @"<BlazyAccordion>
    <BlazyAccordionItem Title=""Accordion Item 1"">
        <Body>            
            <p>This is an accordion item</p>
        </Body>
    </BlazyAccordionItem>
    <BlazyAccordionItem Title=""Accordion Item 2"">
        <Body>            
            <p>This is an accordion item</p>
        </Body>
    </BlazyAccordionItem>
</BlazyAccordion>";
}
<h5>Code</h5>
<BlazyCodeBox Code="@_code" />

<h5>Examples</h5>

<BlazyAccordion>
    <BlazyAccordionItem Title="Accordion Item 1">
        <Body>            
            <p>This is an accordion item</p>
        </Body>
    </BlazyAccordionItem>
    <BlazyAccordionItem Title="Accordion Item 2">        
        <Body>            
            <p>This is an accordion item</p>
        </Body>
    </BlazyAccordionItem>
</BlazyAccordion>



<BlazyAccordion>
    <BlazyAccordionItem>
        <Head>
            <h3 style="margin:0;">This is the head</h3>
        </Head>
        <Body>            
            <p>This is an accordion item</p>
        </Body>
    </BlazyAccordionItem>
    <BlazyAccordionItem>        
        <Head>
            <h3 style="margin:0;">This is the head</h3>
        </Head>
        <Body>            
            <p>This is an accordion item</p>
        </Body>
    </BlazyAccordionItem>
</BlazyAccordion>
@code {

}
