@page "/buttons"
@using Blazy.Enums

<PageTitle>Blazy Buttons</PageTitle>
<h3>Buttons</h3>

@{
    string _code = @"<BlazyButton ThemeColor=""Blazy.Enums.ThemeColor.{color}"">{ChildContent}</BlazyButton>";
}

<h5>Code</h5>
<BlazyCodeBox Code="@_code" />

<h5>Examples</h5>
<BlazyTable>
    <TableHead>
        <tr>
            <th>Rank</th>
            <th>Outline</th>
            <th>Button</th>
        </tr>
    </TableHead>
    <TableBody>
        @foreach(var outline in new []{ false, true })
        {            
            @foreach(var color in Enum.GetValues<ThemeColor>())
            {
                <tr>
                    <td>@color.GetDescription()</td>
                    <td>@outline</td>
                    <td><BlazyButton CssStyle="min-width: 100px;" ThemeColor="color" Outline="outline" OnClick="OnClick">Button</BlazyButton></td>
                </tr>                
            }
        }
    </TableBody>
</BlazyTable>

@code {
    async Task OnClick()
    {
        await Task.Delay(1000);
    }
}
