@page "/charts"
<PageTitle>Blazy Charts</PageTitle>
<h3>Blazy Charts</h3>

<div class="d-grid justify-content-stretch">

    @if(Data != null)
    {
        <BlazyChart Data="Data"
            MaxViewX="@zoomViewX"
            MaxViewY="@zoomViewY"
            MinViewX="0"
            MinViewY="0"
            ChartTitle="Blazy Line Chart Title"
            XAxisTitle="x-axis title"
            YAxisTitle="y-axis title"
            ShowLabels="ShowValueLabels" />    
    }
    
    <div style="justify-self: center;">        
        <BlazyCheckbox Label="Show Value Labels" @bind-Value="ShowValueLabels" />
    </div>
</div>

@code {
    BlazyChart.DataPoint[]? Data;

    int zoomViewX = 400;
    int zoomViewY = 150;
    const int maxViewX = 800;
    const int maxViewY = 300;
    const int minViewX = -50;
    const int minViewY = -30;
    bool ShowValueLabels;

    protected override void OnInitialized()
    {
        List<BlazyChart.DataPoint> data = new();
        int x = minViewX;
        int y = minViewY;
        data.Add(new(x, y));

        while(x < maxViewX)
        {
            x = Math.Min(x + Random.Shared.Next(20, 50), maxViewX);
            y = Math.Max(minViewY, Math.Min(y + Random.Shared.Next(-30, 60), maxViewY));
            data.Add(new(x, y));
        }
        Data = data.ToArray();

        base.OnInitialized();
    }
}
