@using Blazy.Utility
@page "/charts"
<PageTitle>Blazy Charts</PageTitle>
<h3>Blazy Charts</h3>

<div class="d-grid justify-content-stretch">

    @if(Data != null)
    {
        <BlazyChart Data="Data"
            Start="@ChartStart"
            Size="@ChartSize"
            ChartTitle="Blazy Line Chart Title"
            XAxisTitle="x-axis title"
            YAxisTitle="y-axis title"
            ShowLabels="ShowValueLabels" />    
    }
    
    <div style="justify-self: center;">        
        <BlazyCheckbox Label="Show Value Labels" @bind-Value="ShowValueLabels" />
    </div>
</div>

@code {
    Point[]? Data;

    Point ChartStart = new(-10, -50);
    Point ChartSize = new(400, 150);
    bool ShowValueLabels;

    protected override void OnInitialized()
    {
        List<Point> data = new();
        var x = ChartStart.X;
        var y = ChartStart.Y;
        data.Add(new(x, y));

        int i = 0;
        while(i < 20)
        {
            //x = Math.Min(x + Random.Shared.Next(20, 50), 800);
            //y = Math.Max(-30, Math.Min(y + Random.Shared.Next(-30, 60), 300));
            x = x + ChartSize.X / 20;
            y = y + ChartSize.Y / 20;
            data.Add(new(x, y));
            i++;
        }
        Data = data.ToArray();

        Console.WriteLine($"First Point: {data.FirstOrDefault()}");

        base.OnInitialized();
    }
}
