.option-template:hover {
    font-weight: bold;
}

.d-grid {
    column-gap: 1em;
    align-items: end;
}

.d-grid-2-col {
    grid-template-columns: repeat(2, 1fr);
}

.d-grid-3-col {
    grid-template-columns: repeat(3, 1fr);
}