.wrapper {
    border-width: 2px;
    border-style: solid;
    border-radius: .5em;
    width: 100%;
    padding: 1em;
}

.header {
    text-align: right;
    font-weight: bold;
}

dl {
    display:flex;
    gap: 1em;
}

dd {
    padding-right: 4em;
}

p {
    display: grid;
    place-items: center;
}

.Freezing {
    border-color: lightblue;
}

.Bracing {
    border-color: lightgoldenrodyellow;
}

.Balmy {
    border-color: greenyellow;
}

.Chilly {
    border-color: blue;
}