<h3>GrandchildComponent</h3>

I can change the value;
My value is: @value

<button @onclick="UpdateValue">Increase value</button>

@code {
    [CascadingParameter(Name = "GrandparentValue")]
    public int value { get; set; }

    [CascadingParameter(Name = "GrandparentValueChanged")]
    public Action<int> ValueChanged { get; set; }

    private void UpdateValue() =>
        ValueChanged?.Invoke(value + 1);
}