@using System.ComponentModel

<span class="@(Icon.GetDescription())"></span>

@code {
    [Parameter]
    public IconType Icon { get; set; }

    public enum IconType
    {
        [Description("oi oi-account-login")] oi_account_login,
        [Description("oi oi-account-logout")] oi_account_logout,
        [Description("oi oi-action-redo")] oi_action_redo,
        [Description("oi oi-action-undo")] oi_action_undo,
        [Description("oi oi-align-center")] oi_align_center,
        [Description("oi oi-align-left")] oi_align_left,
        [Description("oi oi-align-right")] oi_align_right,
        [Description("oi oi-aperture")] oi_aperture,
        [Description("oi oi-arrow-bottom")] oi_arrow_bottom,
        [Description("oi oi-arrow-circle-bottom")] oi_arrow_circle_bottom,
        [Description("oi oi-arrow-circle-left")] oi_arrow_circle_left,
        [Description("oi oi-arrow-circle-right")] oi_arrow_circle_right,
        [Description("oi oi-arrow-circle-top")] oi_arrow_circle_top,
        [Description("oi oi-arrow-left")] oi_arrow_left,
        [Description("oi oi-arrow-right")] oi_arrow_right,
        [Description("oi oi-arrow-thick-bottom")] oi_arrow_thick_bottom,
        [Description("oi oi-arrow-thick-left")] oi_arrow_thick_left,
        [Description("oi oi-arrow-thick-right")] oi_arrow_thick_right,
        [Description("oi oi-arrow-thick-top")] oi_arrow_thick_top,
        [Description("oi oi-arrow-top")] oi_arrow_top,
        [Description("oi oi-audio")] oi_audio,
        [Description("oi oi-audio-spectrum")] oi_audio_spectrum,
        [Description("oi oi-badge")] oi_badge,
        [Description("oi oi-ban")] oi_ban,
        [Description("oi oi-bar-chart")] oi_bar_chart,
        [Description("oi oi-basket")] oi_basket,
        [Description("oi oi-battery-empty")] oi_battery_empty,
        [Description("oi oi-battery-full")] oi_battery_full,
        [Description("oi oi-beaker")] oi_beaker,
        [Description("oi oi-bell")] oi_bell,
        [Description("oi oi-bluetooth")] oi_bluetooth,
        [Description("oi oi-bold")] oi_bold,
        [Description("oi oi-bolt")] oi_bolt,
        [Description("oi oi-book")] oi_book,
        [Description("oi oi-bookmark")] oi_bookmark,
        [Description("oi oi-box")] oi_box,
        [Description("oi oi-briefcase")] oi_briefcase,
        [Description("oi oi-british-pound")] oi_british_pound,
        [Description("oi oi-browser")] oi_browser,
        [Description("oi oi-brush")] oi_brush,
        [Description("oi oi-bug")] oi_bug,
        [Description("oi oi-bullhorn")] oi_bullhorn,
        [Description("oi oi-calculator")] oi_calculator,
        [Description("oi oi-calendar")] oi_calendar,
        [Description("oi oi-camera-slr")] oi_camera_slr,
        [Description("oi oi-caret-bottom")] oi_caret_bottom,
        [Description("oi oi-caret-left")] oi_caret_left,
        [Description("oi oi-caret-right")] oi_caret_right,
        [Description("oi oi-caret-top")] oi_caret_top,
        [Description("oi oi-cart")] oi_cart,
        [Description("oi oi-chat")] oi_chat,
        [Description("oi oi-check")] oi_check,
        [Description("oi oi-chevron-bottom")] oi_chevron_bottom,
        [Description("oi oi-chevron-left")] oi_chevron_left,
        [Description("oi oi-chevron-right")] oi_chevron_right,
        [Description("oi oi-chevron-top")] oi_chevron_top,
        [Description("oi oi-circle-check")] oi_circle_check,
        [Description("oi oi-circle-x")] oi_circle_x,
        [Description("oi oi-clipboard")] oi_clipboard,
        [Description("oi oi-clock")] oi_clock,
        [Description("oi oi-cloud")] oi_cloud,
        [Description("oi oi-cloud-download")] oi_cloud_download,
        [Description("oi oi-cloud-upload")] oi_cloud_upload,
        [Description("oi oi-cloudy")] oi_cloudy,
        [Description("oi oi-code")] oi_code,
        [Description("oi oi-cog")] oi_cog,
        [Description("oi oi-collapse-down")] oi_collapse_down,
        [Description("oi oi-collapse-left")] oi_collapse_left,
        [Description("oi oi-collapse-right")] oi_collapse_right,
        [Description("oi oi-collapse-up")] oi_collapse_up,
        [Description("oi oi-command")] oi_command,
        [Description("oi oi-comment-square")] oi_comment_square,
        [Description("oi oi-compass")] oi_compass,
        [Description("oi oi-contrast")] oi_contrast,
        [Description("oi oi-copywriting")] oi_copywriting,
        [Description("oi oi-credit-card")] oi_credit_card,
        [Description("oi oi-crop")] oi_crop,
        [Description("oi oi-dashboard")] oi_dashboard,
        [Description("oi oi-data-transfer-download")] oi_data_transfer_download,
        [Description("oi oi-data-transfer-upload")] oi_data_transfer_upload,
        [Description("oi oi-delete")] oi_delete,
        [Description("oi oi-dial")] oi_dial,
        [Description("oi oi-document")] oi_document,
        [Description("oi oi-dollar")] oi_dollar,
        [Description("oi oi-double-quote-sans-left")] oi_double_quote_sans_left,
        [Description("oi oi-double-quote-sans-right")] oi_double_quote_sans_right,
        [Description("oi oi-double-quote-serif-left")] oi_double_quote_serif_left,
        [Description("oi oi-double-quote-serif-right")] oi_double_quote_serif_right,
        [Description("oi oi-droplet")] oi_droplet,
        [Description("oi oi-eject")] oi_eject,
        [Description("oi oi-elevator")] oi_elevator,
        [Description("oi oi-ellipses")] oi_ellipses,
        [Description("oi oi-envelope-closed")] oi_envelope_closed,
        [Description("oi oi-envelope-open")] oi_envelope_open,
        [Description("oi oi-euro")] oi_euro,
        [Description("oi oi-excerpt")] oi_excerpt,
        [Description("oi oi-expand-down")] oi_expand_down,
        [Description("oi oi-expand-left")] oi_expand_left,
        [Description("oi oi-expand-right")] oi_expand_right,
        [Description("oi oi-expand-up")] oi_expand_up,
        [Description("oi oi-external-link")] oi_external_link,
        [Description("oi oi-eye")] oi_eye,
        [Description("oi oi-eyedropper")] oi_eyedropper,
        [Description("oi oi-file")] oi_file,
        [Description("oi oi-fire")] oi_fire,
        [Description("oi oi-flag")] oi_flag,
        [Description("oi oi-flash")] oi_flash,
        [Description("oi oi-folder")] oi_folder,
        [Description("oi oi-fork")] oi_fork,
        [Description("oi oi-fullscreen-enter")] oi_fullscreen_enter,
        [Description("oi oi-fullscreen-exit")] oi_fullscreen_exit,
        [Description("oi oi-globe")] oi_globe,
        [Description("oi oi-graph")] oi_graph,
        [Description("oi oi-grid-four-up")] oi_grid_four_up,
        [Description("oi oi-grid-three-up")] oi_grid_three_up,
        [Description("oi oi-grid-two-up")] oi_grid_two_up,
        [Description("oi oi-hard-drive")] oi_hard_drive,
        [Description("oi oi-header")] oi_header,
        [Description("oi oi-headphones")] oi_headphones,
        [Description("oi oi-heart")] oi_heart,
        [Description("oi oi-home")] oi_home,
        [Description("oi oi-image")] oi_image,
        [Description("oi oi-inbox")] oi_inbox,
        [Description("oi oi-infinity")] oi_infinity,
        [Description("oi oi-info")] oi_info,
        [Description("oi oi-italic")] oi_italic,
        [Description("oi oi-justify-center")] oi_justify_center,
        [Description("oi oi-justify-left")] oi_justify_left,
        [Description("oi oi-justify-right")] oi_justify_right,
        [Description("oi oi-key")] oi_key,
        [Description("oi oi-laptop")] oi_laptop,
        [Description("oi oi-layers")] oi_layers,
        [Description("oi oi-lightbulb")] oi_lightbulb,
        [Description("oi oi-link-broken")] oi_link_broken,
        [Description("oi oi-link-intact")] oi_link_intact,
        [Description("oi oi-list")] oi_list,
        [Description("oi oi-list-rich")] oi_list_rich,
        [Description("oi oi-location")] oi_location,
        [Description("oi oi-lock-locked")] oi_lock_locked,
        [Description("oi oi-lock-unlocked")] oi_lock_unlocked,
        [Description("oi oi-loop")] oi_loop,
        [Description("oi oi-loop-circular")] oi_loop_circular,
        [Description("oi oi-loop-square")] oi_loop_square,
        [Description("oi oi-magnifying-glass")] oi_magnifying_glass,
        [Description("oi oi-map")] oi_map,
        [Description("oi oi-map-marker")] oi_map_marker,
        [Description("oi oi-media-pause")] oi_media_pause,
        [Description("oi oi-media-play")] oi_media_play,
        [Description("oi oi-media-record")] oi_media_record,
        [Description("oi oi-media-skip-backward")] oi_media_skip_backward,
        [Description("oi oi-media-skip-forward")] oi_media_skip_forward,
        [Description("oi oi-media-step-backward")] oi_media_step_backward,
        [Description("oi oi-media-step-forward")] oi_media_step_forward,
        [Description("oi oi-media-stop")] oi_media_stop,
        [Description("oi oi-medical-cross")] oi_medical_cross,
        [Description("oi oi-menu")] oi_menu,
        [Description("oi oi-microphone")] oi_microphone,
        [Description("oi oi-minus")] oi_minus,
        [Description("oi oi-monitor")] oi_monitor,
        [Description("oi oi-moon")] oi_moon,
        [Description("oi oi-move")] oi_move,
        [Description("oi oi-musical-note")] oi_musical_note,
        [Description("oi oi-paperclip")] oi_paperclip,
        [Description("oi oi-pencil")] oi_pencil,
        [Description("oi oi-people")] oi_people,
        [Description("oi oi-person")] oi_person,
        [Description("oi oi-phone")] oi_phone,
        [Description("oi oi-pie-chart")] oi_pie_chart,
        [Description("oi oi-pin")] oi_pin,
        [Description("oi oi-play-circle")] oi_play_circle,
        [Description("oi oi-plus")] oi_plus,
        [Description("oi oi-power-standby")] oi_power_standby,
        [Description("oi oi-print")] oi_print,
        [Description("oi oi-project")] oi_project,
        [Description("oi oi-pulse")] oi_pulse,
        [Description("oi oi-puzzle-piece")] oi_puzzle_piece,
        [Description("oi oi-question-mark")] oi_question_mark,
        [Description("oi oi-rain")] oi_rain,
        [Description("oi oi-random")] oi_random,
        [Description("oi oi-reload")] oi_reload,
        [Description("oi oi-resize-both")] oi_resize_both,
        [Description("oi oi-resize-height")] oi_resize_height,
        [Description("oi oi-resize-width")] oi_resize_width,
        [Description("oi oi-rss")] oi_rss,
        [Description("oi oi-rss-alt")] oi_rss_alt,
        [Description("oi oi-script")] oi_script,
        [Description("oi oi-share")] oi_share,
        [Description("oi oi-share-boxed")] oi_share_boxed,
        [Description("oi oi-shield")] oi_shield,
        [Description("oi oi-signal")] oi_signal,
        [Description("oi oi-signpost")] oi_signpost,
        [Description("oi oi-sort-ascending")] oi_sort_ascending,
        [Description("oi oi-sort-descending")] oi_sort_descending,
        [Description("oi oi-spreadsheet")] oi_spreadsheet,
        [Description("oi oi-star")] oi_star,
        [Description("oi oi-sun")] oi_sun,
        [Description("oi oi-tablet")] oi_tablet,
        [Description("oi oi-tag")] oi_tag,
        [Description("oi oi-tags")] oi_tags,
        [Description("oi oi-target")] oi_target,
        [Description("oi oi-task")] oi_task,
        [Description("oi oi-terminal")] oi_terminal,
        [Description("oi oi-text")] oi_text,
        [Description("oi oi-thumb-down")] oi_thumb_down,
        [Description("oi oi-thumb-up")] oi_thumb_up,
        [Description("oi oi-timer")] oi_timer,
        [Description("oi oi-transfer")] oi_transfer,
        [Description("oi oi-trash")] oi_trash,
        [Description("oi oi-underline")] oi_underline,
        [Description("oi oi-vertical-align-bottom")] oi_vertical_align_bottom,
        [Description("oi oi-vertical-align-center")] oi_vertical_align_center,
        [Description("oi oi-vertical-align-top")] oi_vertical_align_top,
        [Description("oi oi-video")] oi_video,
        [Description("oi oi-volume-high")] oi_volume_high,
        [Description("oi oi-volume-low")] oi_volume_low,
        [Description("oi oi-volume-off")] oi_volume_off,
        [Description("oi oi-warning")] oi_warning,
        [Description("oi oi-wifi")] oi_wifi,
        [Description("oi oi-wrench")] oi_wrench,
        [Description("oi oi-x")] oi_x,
        [Description("oi oi-yen")] oi_yen,
        [Description("oi oi-zoom-in")] oi_zoom_in,
        [Description("oi oi-zoom-out")] oi_zoom_out,
    }
}