/* _content/Blazy.SharedPages/Component1.razor.rz.scp.css */
.my-component[b-aad9dzusut] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/Blazy.SharedPages/Pages/FormControls/FormControls.razor.rz.scp.css */
.option-template:hover[b-hd0zldk5rc] {
    font-weight: bold;
}

[b-hd0zldk5rc] .d-flex {
    gap: 1em;
}

[b-hd0zldk5rc] .d-grid {
    gap: 1em;
    align-items: end;
}

[b-hd0zldk5rc] .d-grid-2-col {
    grid-template-columns: repeat(2, 1fr);
}

.d-grid-3-col[b-hd0zldk5rc] {
    grid-template-columns: repeat(3, 1fr);
}

[b-hd0zldk5rc] .options-window {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1em;
    background-color: rgb(58, 192, 176);
}
[b-hd0zldk5rc] .options-window > h6 {
    font-weight: bold;
}

ul[b-hd0zldk5rc] {
    list-style: none;
    padding: 0;
    background-color: rgba(30,30,30);
    padding: .5em;
    display: flex;
    column-gap: 1em;
}

[b-hd0zldk5rc] .z-component {
    color: rgb(58, 192, 176);
}

li:hover[b-hd0zldk5rc] {
    font-weight: bold;
    cursor: pointer;
}
/* _content/Blazy.SharedPages/Pages/Icons.razor.rz.scp.css */

h3[b-iy2rpzdqll],
h5[b-iy2rpzdqll] {
    margin-bottom: 1em;
}

h5[b-iy2rpzdqll] {
    margin-top: 2em;
}

ul[b-iy2rpzdqll] {
    margin-top: 1em;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    display: grid;
    gap: 1em;
}

li[b-iy2rpzdqll] {
    display: grid;
    row-gap: .5em;
    place-items: center;
    padding: 1em 0;
    border: 1px solid #ddd;
}

li[b-iy2rpzdqll]  .oi {
    font-size: 2em;
}

small[b-iy2rpzdqll] {
    font-size: .7em;
}

@media (min-width: 768px) {
    ul[b-iy2rpzdqll] {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1200px) {
    ul[b-iy2rpzdqll] {
        grid-template-columns: repeat(5, 1fr);
    }
}
/* _content/Blazy.SharedPages/Pages/Index.razor.rz.scp.css */

ul[b-ewqtzchpos] {
    list-style: none;
    padding: 0;
}

h5[b-ewqtzchpos] {
    margin-top: 2em;
}

h6[b-ewqtzchpos] {
    margin-top: 1em;
}

a[b-ewqtzchpos] {
    text-decoration: none;
}

.blazy-directory[b-ewqtzchpos] {
    padding-left: 1em;
}
/* _content/Blazy.SharedPages/Pages/ItemsList.razor.rz.scp.css */
.wrapper[b-lhnu13jkuh] {
    border-width: 2px;
    border-style: solid;
    border-radius: .5em;
    width: 100%;
    padding: 1em;
}

.header[b-lhnu13jkuh] {
    text-align: right;
    font-weight: bold;
}

dl[b-lhnu13jkuh] {
    display:flex;
    gap: 1em;
}

dd[b-lhnu13jkuh] {
    padding-right: 4em;
}

p[b-lhnu13jkuh] {
    display: grid;
    place-items: center;
}

.Freezing[b-lhnu13jkuh] {
    border-color: lightblue;
}

.Bracing[b-lhnu13jkuh] {
    border-color: lightgoldenrodyellow;
}

.Balmy[b-lhnu13jkuh] {
    border-color: greenyellow;
}

.Chilly[b-lhnu13jkuh] {
    border-color: blue;
}
/* _content/Blazy.SharedPages/Pages/ProgressBars.razor.rz.scp.css */
/* _content/Blazy.SharedPages/Pages/Toast.razor.rz.scp.css */
.ex-toast[b-e73gzb5h8f] {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
}

.try-it-form[b-e73gzb5h8f] {
    display: grid;
    gap: 1em;
}

.try-it-form label[b-e73gzb5h8f] {
    display: grid;
}
/* _content/Blazy.SharedPages/Shared/MainLayout.razor.rz.scp.css */
.top-row[b-4m6ukk272a] {
    height: 3.5rem;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    justify-items: center;
    column-gap: 2em;
}

.top-row span[b-4m6ukk272a] {
    font-size: 2em;
}

.top-row a[b-4m6ukk272a]{
    flex-grow:1;
    text-align: right;
}

.layout-options[b-4m6ukk272a] {
    justify-self: center;
    flex-grow: 1;
    text-align: right;
}

.layout-options[b-4m6ukk272a]  button {
    font-size: .8em;
}

.side-nav-wrapper[b-4m6ukk272a] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .side-nav-wrapper[b-4m6ukk272a]  .nav-item a,
    .side-nav-wrapper[b-4m6ukk272a]  .nav-item .oi {
        color: #ccc;
    }
    .side-nav-wrapper[b-4m6ukk272a]  .nav-item:hover a,
    .side-nav-wrapper[b-4m6ukk272a]  .nav-item:hover .oi {
        color: #fff;
    }
    .side-nav-wrapper[b-4m6ukk272a]  a.active {
        color: #fff;
    }

    footer[b-4m6ukk272a] {
        display: grid;
        padding-top: 4em;
    }

    footer ul[b-4m6ukk272a],
    footer p[b-4m6ukk272a] {
        list-style: none;
        padding-left: 1em;
    }

    footer h5[b-4m6ukk272a] {
        font-weight: bold;
    }

    .top-row[b-4m6ukk272a]  svg {
        height: 40px;
    }

    footer a[b-4m6ukk272a] {
        text-decoration: none;
    }

@media (min-width: 641px) {
    .top-nav-wrapper[b-4m6ukk272a] {
        float: right;
    }

    .top-row[b-4m6ukk272a]{
        justify-items: start;
    }
}

@media (min-width: 992px) {

    footer[b-4m6ukk272a] {
        grid-template-columns: 1fr 2fr;
    }
}
/* _content/Blazy.SharedPages/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-2ahzl7nsri] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-2ahzl7nsri] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-2ahzl7nsri] {
    font-size: 1.1rem;
}

.oi[b-2ahzl7nsri] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-2ahzl7nsri] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-2ahzl7nsri] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-2ahzl7nsri] {
        padding-bottom: 1rem;
    }

    .nav-item[b-2ahzl7nsri]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-2ahzl7nsri]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-2ahzl7nsri]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-2ahzl7nsri] {
        display: none;
    }

    .collapse[b-2ahzl7nsri] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
