.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    column-gap: 2em;
}

.top-row a{
    flex-grow:1;
    text-align: right;
}

.layout-options {
    justify-self: center;
    flex-grow: 1;
    text-align: right;
}

.layout-options ::deep button {
    font-size: .8em;
}

.side-nav-wrapper {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}


@media (min-width: 641px) {
    .top-nav-wrapper {
        float: right;
    }
}
