@inherits LayoutComponentBase

<Blazyor.Components.Layout.BlazyLayout>
    <NavFragment>        
        <div class="nav-wrapper">
            <NavMenu />
        </div>
    </NavFragment>
    <TopRowFragment>
        <div class="top-row">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="40px" viewBox="0 0 32 32" >
                <linearGradient id="Gradient2" x1="0" x2="0" y1="0" y2="1">
                    <stop offset="0%" stop-color="rgb(5, 39, 103)"/>
                    <stop offset="70%" stop-color="#3a0647 "/>
                </linearGradient>
                <mask id="textMask">
                    <g stroke="white" stroke-width="3" fill="transparent">
                        <g>
                            <path d="M2 1 l0 29 c10 0 10 -10 5 -15 q-5 -5 -4 -5 c10 -4 0 -9 -1 -7"></path>    
                
                        </g>
                        <g>
                            <path d="M14 2 l0 28 17 0"></path>   
                        </g>
            
                        <g transform="scale(.6) translate(0 -14)" style="transform-origin: 100% 50%;">
                            <path d="M16 17 l12 0 -10 10 12 0" stroke-width="2"></path>   
                        </g>
                        <g transform="scale(.4) translate(0 -36)" style="transform-origin: 100% 50%;">
                            <path d="M16 17 l12 0 -10 10 12 0" stroke-width="2"></path>   
                        </g>
                        <g>
                            <path d="M16 17 l12 0 -10 10 12 0" stroke-width="2"></path>   
                        </g>
                    </g>
                </mask>
                <rect fill="url(#Gradient2)" height="100%" width="100%" mask="url(#textMask)"></rect>    
            </svg>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
    </TopRowFragment>
    <BodyFragment>
        @Body
    </BodyFragment>
</Blazyor.Components.Layout.BlazyLayout>