<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="40px" viewBox="0 0 32 32" >
    
            <g stroke="#176781" stroke-width="3" fill="transparent">
                <g>
                    <path d="M2 1 l0 29 c10 0 10 -10 5 -15 q-5 -5 -4 -5 c10 -4 0 -9 -1 -7"></path>    
            
                </g>
                <g>
                    <path d="M14 2 l0 28 17 0"></path>   
                </g>
        
                <g transform="scale(.6) translate(0 -14)" style="transform-origin: 100% 50%;">
                    <path d="M16 17 l12 0 -10 10 12 0" stroke-width="2"></path>   
                </g>
                <g transform="scale(.4) translate(0 -36)" style="transform-origin: 100% 50%;">
                    <path d="M16 17 l12 0 -10 10 12 0" stroke-width="2"></path>   
                </g>
                <g>
                    <path d="M16 17 l12 0 -10 10 12 0" stroke-width="2"></path>   
                </g>
            </g>
    
        </svg>
        Blazy Components
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buttons">
                <span class="oi oi-plus" aria-hidden="true"></span> Buttons
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modals">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Modals
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="datagrid">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Datagrid
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stepper">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Stepper
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="codebox">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Codebox
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="navmenu">
                <span class="oi oi-list-rich" aria-hidden="true"></span> NavMenu
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
