/* _content/IWorkTooMuch.Blazor.Components/InputLabel.razor.rz.scp.css */
label[b-w122qstzx4] {
    display: flex;
    flex-direction: column;
    font-size: smaller;
    color: gray;
}
/* _content/IWorkTooMuch.Blazor.Components/Notifier.razor.rz.scp.css */
.notification-wrapper[b-55tf5bkcd1] {
    display: grid;
    gap: 1rem;
    position: fixed;
    right: 1rem;
    top: 1rem;
    width: 30%;
    z-index: 10;
}

.message-box[b-55tf5bkcd1] {
    display: grid;
    grid: "title close" min-content "msg   msg  " min-content / 1fr auto;
    background-color: rgba(211, 211, 211, 0.5);
    border: solid 1px black;
    padding: 1rem;
}

    .message-box h2[b-55tf5bkcd1], .message-box p[b-55tf5bkcd1] {
        margin: 0;
        font-size: small;
    }

    .message-box h2[b-55tf5bkcd1] {
        grid-area: title;
        font-size: large;
    }

    .message-box button[b-55tf5bkcd1] {
        grid-area: close;
        font-size: 20px;
        align-self: start;
        justify-self: end;
        background-color: transparent;
        border: none;
        user-select: none;
    }

    .message-box p[b-55tf5bkcd1] {
        grid-area: msg;
    }

.error-box[b-55tf5bkcd1] {
    background-color: rgba(255, 182, 193, 0.5);
    border: solid 1px darkred;
}

.success-box[b-55tf5bkcd1] {
    background-color: rgba(144, 238, 144, 0.5);
    border: solid 1px darkgreen;
}

.warning-box[b-55tf5bkcd1] {
    background-color: rgba(240, 220, 104, 0.5);
    border: solid 1px goldenrod;
}
/* _content/IWorkTooMuch.Blazor.Components/SelectEntity.razor.rz.scp.css */
[b-1flfxq69dk]::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

[b-1flfxq69dk]::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

[b-1flfxq69dk]::-webkit-scrollbar-track {
    background: transparent;
}

.wrapper[b-1flfxq69dk] {
    height: max-content;
}

input[b-1flfxq69dk] {
    margin: 0;
    width: 100%;
    padding: 0 1rem;
}

label[b-1flfxq69dk] {
    margin: 0;
    font-size: smaller;
    color: gray;
    width: 100%;
}

.error-msg[b-1flfxq69dk] {
    color: red;
    font-size: smaller;
    margin-left: 2rem;
}

.selection-tags[b-1flfxq69dk] {
    display: flex;
    gap: .2rem;
    flex-wrap: wrap;
    padding: .2rem;
}

    .selection-tags > div[b-1flfxq69dk] {
        position: relative;
        background-color: #85c552;
        width: max-content;
        padding: 0 .5rem;
        font-size: smaller;
        border-radius: 5rem;
        color: white;
        cursor: no-drop;
    }

    .selection-tags div .my-tooltip[b-1flfxq69dk] {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.75);
        width: max-content;
        padding: .2rem .5rem;
        color: white;
        z-index: 1;
        top: 110%;
        border-radius: 10px;
        left: -5%;
    }

    .selection-tags > div:hover[b-1flfxq69dk] {
        background-color: lightpink;
    }

        .selection-tags > div:hover .my-tooltip[b-1flfxq69dk] {
            display: block;
        }

.loading-text[b-1flfxq69dk] {
    color: gray;
    font-size: x-small;
}

.body[b-1flfxq69dk] {
    font-size: small;
    display: grid;
    grid-template-columns: max-content auto;
    overflow-y: scroll;
    max-height: 100px;
    width: 100%;
    border: solid 1px black;
    border-top: none;
}

    .body > div[b-1flfxq69dk] {
        display: grid;
        grid-column: 1 / -1;
        cursor: pointer;
        display: grid;
        grid-template-columns: minmax(2.5rem, max-content) auto;
    }

        .body > div > span:nth-child(1)[b-1flfxq69dk] {
            justify-self: center;
            padding: 0 .3rem;
        }

        .body > div:hover[b-1flfxq69dk] {
            background-color: lightyellow;
        }

    .body > .selected[b-1flfxq69dk] {
        background-color: #dcfdc1;
    }

        .body > .selected:hover[b-1flfxq69dk] {
            background-color: lightpink;
            cursor: no-drop;
        }
