
.table {
    background-color: rgb(240, 240, 240);
    font-size: .7rem;
    display: grid;
    grid-template-rows: min-content auto min-content;
    user-select:none;
}

.table-body {
    overflow: auto;
    background-color: darkgray;
}

.data-grid {
    display: grid;
}

::deep button > svg {
    right: 3px;
    position: relative;
}

::deep button:hover {
    background-color: lightgray;
}

::deep button:focus {
    outline: none;
    box-shadow: none;
}

::deep .data-grid > div {
    padding: .4rem;
    min-width: 150px;
}

.table-footer > .paging-toolbar > .active {
    background-color: lightgreen;
}

    .table-footer > .paging-toolbar > .active:hover,
    .page-btn:hover {
        background-color: rgb(197, 235, 197);
    }


.dg-even-row {
    background-color: white;
}

.dg-odd-row {
    background-color: rgb(240, 240, 240);
}

.table-header > .table-toolbar,
.table-footer > .paging-toolbar {
    display: flex;
    gap: .4rem;
    padding: .4rem;
    flex-wrap: wrap;
}

    .table-toolbar > button,
    .paging-toolbar > button {
        height: 30px;
    }

    .paging-toolbar > button {
        width: 30px;
    }


.data-grid .dg-hover {
    background-color: lightgray !important;
}

.data-grid .dg-select {
    background-color: rgb(197, 235, 197) !important;
}

/* Borders */

.table {
    border: 1px solid lightgray;
}

::deep .data-grid > div {
    border-right: 1px solid lightgray;
}

::deep .dg-last-col {
    border-right: none!important;
}

.table-footer {
    border-top: 1px solid lightgray;
}

.table-header {
    border-bottom: 1px solid lightgray;
}

::deep .table-toolbar > button {
    border: lightgray solid 1px;
}

.paging-toolbar > button {
    border: none;
}

/* scollbar */


::deep ::-webkit-scrollbar {
    width: 3px;
    height: 10px;
}

::deep ::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

.table-body::-webkit-scrollbar-track {
    background-color: rgb(240, 240, 240);
}

::deep ::-webkit-scrollbar-button {
    display: none;
}

::deep ::-webkit-scrollbar-corner {
    background-color: transparent;
}


.dummy-row {
    grid-column: 1 / -1;
    padding:0;
    height:30px;
}