
<label>
    <span class="label">@Title</span>
    @ChildContent
</label>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}