
<div class="notification-wrapper">

    @foreach (var notification in Notifications)
    {
        <div class="message-box @NotificationTypeClass(notification)">
            <h2>@notification.Title</h2>
            <button @onclick="() => Close(notification)">🗙</button>
            <p>
                @notification.Message
            </p>
        </div>
    }

</div>


<CascadingValue Value=this>
    @ChildContent
</CascadingValue>