
.filter-menu {
    background-color: rgb(240, 240, 240);
    overflow-y: auto;
    width: max-content;
    min-width: 160px;
    max-height: 240px;
    position: absolute;
    right: 0;
    text-align: left;
    padding: 0 .5rem .5rem .5rem;
    border: 1px lightgray solid;
    display: grid;
    grid-auto-rows: min-content;
    gap: .5rem;
    justify-items: stretch;
}

.btn-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}