@typeparam T

<FilterMenuWrapper AcceptClicked="ApplyFilters" ClearClicked="ClearFilters">

    <DropdownEnumSelect Options="Qualifiers" @bind-SelectedValue="SelectedQualifier" T="Qualifier" />

    <div class="selections-row">
        <input type="number" @bind="SelectedOption_0" />
        @if (SelectedQualifier == Qualifier.NotBetween || SelectedQualifier == Qualifier.Between)
        {
            <p>&amp;</p>
            <input type="number" @bind="SelectedOption_0" />
        }
    </div>

</FilterMenuWrapper>