div {
    position: relative;
}

label {
    position: absolute;
    color: #c04;
    top: 1.2em;
    left: .8em;
    transition: top .2s ease-out, font-size .2s ease-out;
}

input {
    padding: 1.6em .8em .4em .8em;
    border: none;
    border-bottom: 2px solid #c04;
    background-color: #f1f1f1;
    width: 100%;
}

input:focus {
    outline:none;
}

label.small {
    top: .6em;
    font-size: .8em;
}

.valid-input label.focused {
    color: darkblue;
}

.valid-input input:hover {
    border-bottom: 2px solid #333;
}

.valid-input input:focus {
    border-bottom: 2px solid darkblue;
}

.valid-input label,
.readonly {
    color: #333;
}

.valid-input input,
input[readonly] {
    border-bottom: 1px solid #333;
}

input[readonly] {
    color: #666;
}