@typeparam TItem

<BlazyTable>
    <TableHead>
        @if(DataGridHead != null)
        {        
            <tr>
                @DataGridHead
                @if (EditRowTemplate != null)
                {
                    <th>Actions</th>
                }
            </tr>
        }
    </TableHead>
    <TableBody>
        @if(Datasource != null && RowTemplate != null)
        {            
            @foreach(var item in Datasource)
            {
                <tr>
                    @if((EditingItem?.Equals(item) ?? false) && EditRowTemplate != null && !openModal)
                    {
                        @EditRowTemplate(item)
                    }
                    else
                    {
                        @RowTemplate(item)                    
                    }

                    @if(EditRowTemplate != null)
                    {
                        <td class="d-flex">
                            @if((EditingItem?.Equals(item) ?? false) || (SavingItem?.Equals(item) ?? false))
                            {
                                <BlazyButton OnClick="Save">
                                    <Blazy.Fragments.BlazyIcon Icon="Fragments.BlazyIcon.IconType.oi_check" />
                                </BlazyButton>
                                <BlazyButton OnClick="Cancel">
                                    <Blazy.Fragments.BlazyIcon Icon="Fragments.BlazyIcon.IconType.oi_ban" />
                                </BlazyButton>
                            }
                            else
                            {
                                <div class="z-small-only">
                                    <BlazyButton OnClick="() => EditItem(item, true)" >
                                        <Blazy.Fragments.BlazyIcon Icon="Fragments.BlazyIcon.IconType.oi_pencil" />
                                    </BlazyButton>
                                </div>
                                <div class="z-small">
                                    <BlazyButton OnClick="() => EditItem(item)">
                                        <Blazy.Fragments.BlazyIcon Icon="Fragments.BlazyIcon.IconType.oi_pencil" />
                                    </BlazyButton>
                                </div>
                            }
                        </td>
                    } 
                </tr>
            }         
        }
    </TableBody>
</BlazyTable>

<BlazyModal 
    MaxWidth="BlazyModal.Width.Small"
    CanSave="true" 
    OnSave="Save" 
    OnCancel="Cancel"
    @bind-IsOpen="openModal">
    <ModalHeader>
        <strong>Edit Row</strong>
    </ModalHeader>
    <ModalBody>
        <div class="z-modal-edit">            
            <div>
                @DataGridHead
            </div>
            <div>
                @if(EditRowTemplate is not null && EditingItem is not null)
                {                
                    @EditRowTemplate(EditingItem)
                }
                else if(RowTemplate is not null && SavingItem is not null)
                {
                    @RowTemplate(SavingItem)                       
                }
            </div>
        </div>
    </ModalBody>
</BlazyModal>

@code {
    [Parameter, EditorRequired]
    public IEnumerable<TItem>? Datasource { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? DataGridHead { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment<TItem>? RowTemplate { get; set; }

    [Parameter]
    public RenderFragment<TItem>? EditRowTemplate { get; set; }

    [Parameter]
    public EventCallback<TItem> OnSave { get; set; }

    TItem? EditingItem;
    TItem? SavingItem;
    string originalItemJson = string.Empty;
    bool openModal;

    void EditItem(TItem item, bool useModal = false)
    {
        originalItemJson = System.Text.Json.JsonSerializer.Serialize<TItem>(item);
        openModal = useModal;
        EditingItem = item;
    }

    void Cancel()
    {
        var origItem = System.Text.Json.JsonSerializer.Deserialize<TItem>(originalItemJson);

        foreach (var prop in typeof(TItem).GetProperties().Where(x => x.CanWrite))
            prop.SetValue(EditingItem, prop.GetValue(origItem));

        EditingItem = default(TItem);
    }

    async Task Save()
    {
        SavingItem = EditingItem;
        EditingItem = default(TItem);
        await OnSave.InvokeAsync(EditingItem);
        SavingItem = default(TItem);
    }
}
