
<div class="accordion">
    <CascadingValue Value="this">
        @ChildContent
        @foreach(var item in Items)
        {            
            <div class="accordion-item">
                <h2 class="accordion-header @(item.IsOpen ? "" : "collapsed")" @onclick="() => OpenItem(item)">
                    <div class="accordion-chevron">
                        <BlazyIcon Icon="BlazyIcon.IconType.z_thin_chevron" />
                    </div>
                    @if(item.Head is null)
                    {
                        <div class="accordion-title">
                            @item.Title
                        </div>
                    }
                    else
                    {
                        @item.Head
                    }
                </h2>
                <BlazyHeightTransition Collapsed="!item.IsOpen">                    
                    <div class="accordion-collapse">
                        <div class="accordion-body">
                            @if(item.Body != null)
                            {
                                @item.Body
                            }            
                        </div>
                    </div>
                </BlazyHeightTransition>
            </div>
        }
    </CascadingValue>
</div>

@code {
    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }

    List<BlazyAccordionItem> Items { get; set; } = new();
    BlazyAccordionItem? _openedItem;

    public void AddItem(BlazyAccordionItem item)
    {
        if(_openedItem == null)
        {
            _openedItem = item;
            _openedItem.IsOpen = true;
        }

        Items.Add(item);
        StateHasChanged();
    }

    public void RemoveItem(BlazyAccordionItem item)
    {
        Items.Remove(item);
        StateHasChanged();
    }

    void OpenItem(BlazyAccordionItem item)
    {
        if(_openedItem == item)
        {
            item.IsOpen = false;
            _openedItem = null;
        }
        else
        {            
            if(_openedItem != null)        
                _openedItem.IsOpen = false;        

            _openedItem = item;
            _openedItem.IsOpen = true;
        }

    }
}
