::deep .btn-close {
    background-color: transparent;
    border: none;
    font-size: 1.6em;
    line-height: .8em;
    color: darkslategray;
    font-weight: bold;
}

.modal-header span {
    font-weight: bold;
    color: #333;
    line-height: 1em;
    font-size: 1.5em;
}

.modal-footer {
    display: flex;
    float:right;
}

    .modal-footer > ::deep * {
        flex: 1 0 150px;
    }
