<table>
    @if(TableHead != null)
    {
        <thead>
            @TableHead
        </thead>        
    }
    @if(TableBody != null)
    {
        <tbody>
            @TableBody
        </tbody>        
    }
</table>

@code {
    [Parameter]
    public RenderFragment? TableHead { get; set; }

    [Parameter]
    public RenderFragment? TableBody { get; set; }
}
