::deep ul {
    list-style: none;
    position: relative;
    padding: 0;
}

::deep .nav-item {
    position: relative;
    font-size: 0.8rem;
    padding: 0;
    cursor: pointer;
}

    ::deep .nav-item .nav-item ul {
        left: 20%;
        top: 70%;
    }

    ::deep .nav-item a {
        color: #666666;
        border-radius: 4px;
        display: flex;
        align-items: center;
        line-height: 1.2rem;
        padding: .5em 1.5em;
    }

    ::deep .nav-item ul {
        position: absolute;
        line-height: 1rem;
        z-index: 10;
    }

    ::deep .sublinks {
        display: none;
    }

    ::deep .nav-item:hover > .sublinks {
        display: block;
    }

    ::deep .nav-item a.active {
        background-color: #eee;
    }

    ::deep .nav-item a:hover {
        color: black;
    }

    ::deep .nav-item a > .oi {
        font-size: .9em;
        padding-left: 1em;
        padding-bottom: .3em;
        color: gray;
    }

    ::deep .nav-item a > .label {
        flex-grow: 1;
    }


.wrapper ::deep > ul {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

@media (min-width: 641px) {

    .wrapper ::deep > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }

    ::deep .nav-item .nav-item ul {
        left: 20%;
        top: 70%;
    }
}
