
<label>
    <span class="z-checkbox-wrapper">
        <input type="checkbox" hidden value="@Value" @onchange="Toggle" />
        <span class="z-checkbox-frame"></span>
        <span class="z-checkbox-bg" hidden="@(!Value)">
            <svg version="1.1" focusable="false" viewBox="0 0 24 24" xml:space="preserve">
                <path fill="none" d="M4.1,12.7 9,17.6 20.3,6.3" class="mat-checkbox-checkmark-path"></path>
            </svg>
        </span>
    </span>
    <span class="z-text">
        @Label
    </span>
</label>

@code {
    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public bool Value { get; set; }

    [Parameter]
    public EventCallback<bool> ValueChanged { get;set; }

    void Toggle(ChangeEventArgs args)
    {
        if (bool.TryParse(args.Value?.ToString(), out bool result))
            ValueChanged.InvokeAsync(result);
        else
            ValueChanged.InvokeAsync(false);
    }
}
