.graph {
    user-select: none;
    aspect-ratio: 10/5;
}

.graph .labels.x-labels {
    text-anchor: middle;
}

.graph .labels.y-labels {
    text-anchor: end;
}


.graph {
    width:100%;
}

    .graph .grid {
        stroke: #ccc;
        stroke-dasharray: 0;
        stroke-width: 1;
    }

::deep .chart-coord {
    font-size: .4em;
    text-anchor: middle;
    fill: #666;
}

figcaption {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

.actions-list {
    position: absolute;
    top: 2em;
    right: .5em;
    color: #666;
    cursor: pointer;
}

.reset-button:hover {
    color: black;
}

