.z-small {
    display: none;
}

.z-modal-edit {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.z-modal-edit > div {
    display: grid;
    gap: .5em;
}

.z-modal-edit > div:last-child {
    justify-content: stretch;
}

    .z-modal-edit > div:first-child {
        justify-content: end;
        text-align: right;
        padding-right: 1em;
    }

@media (min-width: 641px){
    .z-small {
        display: block;
    }

    .z-small-only {
        display: none;
    }
}