@typeparam TItem

<ul style="@ulStyle">
    @if(Datasource is not null && ItemTemplate is not null){
        @foreach (var item in Datasource)
        {            
            <li>@ItemTemplate(item)</li>
        }
    }
</ul>

@code {
    [Parameter, EditorRequired]
    public IEnumerable<TItem>? Datasource { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment<TItem>? ItemTemplate { get; set; }

    [Parameter, EditorRequired]
    public string? ItemWidth { get; set; }

    string ulStyle => string.IsNullOrEmpty(ItemWidth) ? "" : $"grid-template-columns: repeat(auto-fill, {ItemWidth});";
}