.graph {
    user-select: none;
}

.graph .labels.x-labels {
    text-anchor: middle;
}

.graph .labels.y-labels {
    text-anchor: end;
}


.graph {
    width:100%;
}

    .graph .grid {
        stroke: #ccc;
        stroke-dasharray: 0;
        stroke-width: 1;
    }

.labels {
    font-size: .6em;
    color: #eee;
}

.label-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: .6em;
    fill: black;
}

.data-line {
    stroke: red;
    stroke-width: 1;
    fill: transparent;
}

.data-points {
    fill: #E66;
    stroke-width: 0;
}


figcaption {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}



.point {
    cursor: pointer;
    position: relative;
}

.point > text {
    display: none;
    font-size: .7em;
    position: absolute;
    bottom: 0;
    font-family: monospace;
    background-image: green;
}

    .point > text.visible,
    .point.selected > text,
    .point.nearest > text {
        display: block;
    }
    .point:hover {
        z-index: 10;
    }

    .point:hover > circle,
    .point:hover > text {
        fill: #F33;
    }
.point:hover > text {
    display: block;
}

    .point.selected > circle,
    .point.selected > text {
        fill: red;
    }
    .point.nearest > circle,
    .point.nearest > text {
        fill: #fcc;
    }

.selected-data text {
    fill: #333;
    font-size: .5em;
    font-family: monospace;
}

.select-box text {
    fill: #666;
    font-size: .7em;
    font-family: monospace;
}

.axis-title {
    font-size: .7em;
}