::deep ul {
    list-style: none;
    position: relative;
    padding: 0;
    display: grid;
}

.menu-icon {
    display: block;
}

::deep .nav-item a > .oi {
    font-size: .9em;
    padding-left: 1em;
    padding-bottom: .3em;
}

::deep .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
    cursor: pointer;
}

::deep .sublinks .nav-item:last-child {
    padding-bottom: 0;
}

.wrapper > div:last-of-type > ::deep .nav-item:first-of-type {
    padding-top: 1rem;
}

.wrapper > div:last-of-type > ::deep .nav-item:last-of-type {
    padding-bottom: 1rem;
}

::deep .nav-item a {
    color: #666;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}
    ::deep .nav-item a.active {
        background-color: rgba(255,255,255,0.25);
        color: black;
    }

    ::deep .nav-item a:hover {
        background-color: rgba(255,255,255,0.1);
        color: black;
    }


::deep .nav-item > a > .label {
    flex-grow: 1;
}

::deep li > .sublinks {
    background-color: rgba(0,0,0, .1);
    max-height: 0;
    overflow-y: hidden;
    transition: max-height ease .5s;
}

.wrapper > div:first-of-type {
    display: flex;
    align-items: center;
    color: white;
    padding: 1em;
}

.wrapper ::deep .oi {
    color: gray;
}

.wrapper h5 {
    flex-grow: 1;
}

.menu-list {
    display: none;
}

    .menu-list.visible {
        display: block;
    }

@media (min-width: 641px) {
    .wrapper {
        width: fit-content;
    }
    .menu-list > ::deep ul {
        display: grid;
        padding: .5em;
    }

    .menu-list {
        display: block;
    }

    ::deep ul ul {
        border-left: 1px solid rgba(0,0,0,.5);
        border-bottom: 1px solid rgba(0,0,0,.5);
        margin-left: .2em;
    }

    .menu-icon {
        display: none;
    }
}
