button:focus {
    outline: none;
    box-shadow: none;
}

button.btn-transparent:hover,
button.btn-outline-transparent:hover {
   background-color: rgb(0,0,0,.1);
}

button {
    height: 2.4em;
    display: grid;
    place-items: center;
}

.spinner ::deep div {
    height: 1.2em;
    width: 1.2em;
}

.spinner {
    display: grid;
    place-items: center;
}
