.wrapper {
    background-color: rgba(30,30,30);
    display: grid;
}

.wrapper, .header-bar {
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.header-bar {
    background-color: rgba(255,255,255,.2);
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

.header-bar span:first-of-type {
    flex-grow: 1;
    padding-left: 1em;
    color: white;
}

.header-bar ::deep button {
    color: white;
}

p {
    margin:0;
    padding: 0;
}

pre {
    color: white;
    margin: 0;
    display: grid;
    grid-template-columns: max-content auto;
    width: 100%;
    overflow-x: auto;
    padding: 1em;
    padding-top: 0;
}
