@page "/accordions"
<PageTitle>Accordions</PageTitle>
<h3>Accordions</h3>

<BlazyAccordion>
    <BlazyAccordionItem Title="Accordion Item 1">
        <p>This is an accordion item</p>
    </BlazyAccordionItem>
    <BlazyAccordionItem Title="Accordion Item 2">
        <p>This is an accordion item</p>
    </BlazyAccordionItem>
</BlazyAccordion>

@code {

}
