@page "/spinners"
<PageTitle>Spinners</PageTitle>
<h3>Spinners</h3>

<h5>Code</h5>
@{
    string _code = @"<BlazySpinner ThemeColor=""color"" />";
}
<BlazyCodeBox Code="@_code" />

<h5>Examples</h5>

<BlazyTable>
    <TableHead>
        <tr>
            <th>Color</th>
            <th>Spinner</th>
        </tr>
    </TableHead>
    <TableBody>
        @foreach(var color in Enum.GetValues<Blazy.Enums.ThemeColor>())
        {            
            <tr>
                <td>@color.GetDescription()</td>
                <td><BlazySpinner ThemeColor="color" /></td>
            </tr>
        }
    </TableBody>
</BlazyTable>
