@using System.ComponentModel
@using Blazyor.Extensions

<span class="@(Icon.GetDescription())"></span>

@code {
    [Parameter]
    public IconType Icon { get; set; }

    public enum IconType
    {
        [Description("oi oi-pencil")] OI_Pencil,
        [Description("oi oi-ban")] OI_Ban,
        [Description("oi oi-circle-check")] OI_CircleCheck,
        [Description("oi oi-check")] OI_Check,
        [Description("oi oi-x")] OI_X,
        [Description("oi oi-caret-bottom")] Caret_Bottom,
        [Description("oi oi-menu")] Menu,
    }
}
