
.value-labels {
    fill: #666;
    font-size: .8em;
}

.x-value-label {
    text-anchor: middle;
}

.y-value-label {
    text-anchor: end;
}

.axis-titles {
    fill: black;
    font-size: 1.5em;
    text-anchor: middle;
}