@typeparam TItem

<BlazyTable>
    <TableHead>
        @if(DataGridHead != null)
        {        
            <tr>
                @DataGridHead
                @if (EditRowTemplate != null)
                {
                    <th>Actions</th>
                }
            </tr>
        }
    </TableHead>
    <TableBody>
        @if(Datasource != null && RowTemplate != null)
        {            
            @foreach(var item in Datasource)
            {
                <tr>
                    @if((EditingItem?.Equals(item) ?? false) && EditRowTemplate != null)
                    {
                        @EditRowTemplate(item)
                    }
                    else
                    {
                        @RowTemplate(item)                    
                    }

                    @if(EditRowTemplate != null)
                    {
                        <td>
                            @if(EditingItem?.Equals(item) ?? false)
                            {
                                <BlazyButton>Save</BlazyButton>
                                <BlazyButton OnClick="Cancel">Cancel</BlazyButton>
                            }
                            else
                            {
                                <BlazyButton OnClick="() => EditItem(item)">Edit</BlazyButton>
                            }
                        </td>
                    } 
                </tr>
            }         
        }
    </TableBody>
</BlazyTable>

@code {
    [Parameter]
    public IEnumerable<TItem>? Datasource { get; set; }

    [Parameter]
    public RenderFragment? DataGridHead { get; set; }

    [Parameter]
    public RenderFragment<TItem>? RowTemplate { get; set; }

    [Parameter]
    public RenderFragment<TItem>? EditRowTemplate { get; set; }

    private TItem? EditingItem;

    void EditItem(TItem item)
    {
        EditingItem = item;
    }

    void Cancel()
    {
        EditingItem = default(TItem);
    }
}
