table {
    width: 100%;
}

::deep td,
::deep th {
    padding: .1em .5em;
}

thead ::deep tr:nth-child(2n+1) {
    background-color: rgb(5,39,103);
    color: white;
}

tbody ::deep tr:nth-child(2n+1){
    background-color: #eee;
}
