/* _content/Blazyor/Components/BlazyButton.razor.rz.scp.css */
button:focus[b-28eiqvcokg] {
    outline: none;
    box-shadow: none;
}

button.btn-transparent:hover[b-28eiqvcokg],
button.btn-outline-transparent:hover[b-28eiqvcokg] {
   background-color: rgb(0,0,0,.1);
}
/* _content/Blazyor/Components/BlazyCodeBox.razor.rz.scp.css */
div[b-vab6xfokl8] {
    background-color: rgba(30,30,30);
    padding: 1em;
    display: grid;
}

p[b-vab6xfokl8] {
    margin:0;
    padding: 0;
}

pre[b-vab6xfokl8] {
    color: white;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: max-content auto;
    width: 100%;
    overflow-x: auto;
}
/* _content/Blazyor/Components/BlazyInputText.razor.rz.scp.css */
div[b-zk0u5ihue8] {
    position: relative;
}

label[b-zk0u5ihue8] {
    position: absolute;
    color: #c04;
    top: 1.2em;
    left: .8em;
    transition: top .2s ease-out, font-size .2s ease-out;
}

input[b-zk0u5ihue8] {
    padding: 1.6em .8em .4em .8em;
    border: none;
    border-bottom: 2px solid #c04;
    background-color: #f1f1f1;
    width: 100%;
}

input:focus[b-zk0u5ihue8] {
    outline:none;
}

label.small[b-zk0u5ihue8] {
    top: .6em;
    font-size: .8em;
}

.valid-input label.focused[b-zk0u5ihue8] {
    color: darkblue;
}

.valid-input input:hover[b-zk0u5ihue8] {
    border-bottom: 2px solid #333;
}

.valid-input input:focus[b-zk0u5ihue8] {
    border-bottom: 2px solid darkblue;
}

.valid-input label[b-zk0u5ihue8] {
    color: #333;
}

.valid-input input[b-zk0u5ihue8] {
    border-bottom: 1px solid #333;
}
/* _content/Blazyor/Components/BlazyModal.razor.rz.scp.css */
[b-ga7ahv63d3] .btn-close {
    background-color: transparent;
    border: none;
    font-size: 1.6em;
    line-height: .8em;
    color: darkslategray;
    font-weight: bold;
}

.modal-header span[b-ga7ahv63d3] {
    font-weight: bold;
    color: #333;
    line-height: 1em;
    font-size: 1.5em;
}
/* _content/Blazyor/Components/BlazySideNav.razor.rz.scp.css */
[b-0rgaf3baz3] ul {
    list-style: none;
    position: relative;
    padding: 0;
    display: grid;
}

[b-0rgaf3baz3] .nav-item a > .oi {
    font-size: .9em;
    padding-left: 1em;
    padding-bottom: .3em;
}

[b-0rgaf3baz3] .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
}

[b-0rgaf3baz3] .sublinks .nav-item:last-child {
    padding-bottom: 0;
}

.wrapper[b-0rgaf3baz3] >  .nav-item:first-of-type {
    padding-top: 1rem;
}

.wrapper[b-0rgaf3baz3] >  .nav-item:last-of-type {
    padding-bottom: 1rem;
}

[b-0rgaf3baz3] .nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}
    [b-0rgaf3baz3] .nav-item a.active {
        background-color: rgba(255,255,255,0.25);
        color: white;
    }

    [b-0rgaf3baz3] .nav-item a:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

.wrapper[b-0rgaf3baz3] >  h5 {
    padding: 1em;
    color: white;
}

[b-0rgaf3baz3] .nav-item > a > .label {
    flex-grow: 1;
}

[b-0rgaf3baz3] li > .sublinks {
    background-color: rgba(0,0,0, .15);
    max-height: 0;
    overflow-y: hidden;
    transition: max-height ease .5s;
}

@media (min-width: 641px) {
    .wrapper[b-0rgaf3baz3] >  ul {
        display: grid;
        padding: .5em;
    }
}
/* _content/Blazyor/Components/BlazyStepper.razor.rz.scp.css */


.d-flex[b-jyun8hdt3w] {
    column-gap: 1em;
    font-size: .8em;
    font-weight: bold;
    color: #333;
    padding: 1em 0;
}

li[b-jyun8hdt3w] {
    display: grid;
}

ul[b-jyun8hdt3w] {
    padding-left: 5px;
    list-style: none;
    display: grid;
}

.pill[b-jyun8hdt3w] {
    background-color: #3f51b5;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    display: grid;
    justify-content: center;
    color: white;
    align-items: center;
}

.pill[b-jyun8hdt3w]  span {
    font-size: .8em;
    margin-bottom:.2em;
}

.content[b-jyun8hdt3w] {
    padding: 1em;
    transition: padding .2s, max-height .2s;
    overflow: hidden;
    max-height: 200px;
}

.content-holder[b-jyun8hdt3w] {
    position: relative;
    margin-left: 1.3em;
}

    li:nth-last-child(n+2) .content[b-jyun8hdt3w]::before {
        content: "";
        position: absolute;
        left: 0;
        border-left: 1px solid #ccc;
        top: -.6em;
        bottom: -.6em;
    }

.collapsed[b-jyun8hdt3w] {
    max-height: 0;
    padding: 0 1em;
}

.btn-bar[b-jyun8hdt3w] {
    display: flex;
    column-gap: 1em;
    margin-top: 1em;
}

strong[b-jyun8hdt3w] {
    font-size: .8em;
}
/* _content/Blazyor/Components/BlazyTable.razor.rz.scp.css */
table[b-s9ga4saq99] {
    width: 100%;
}

[b-s9ga4saq99] td,
[b-s9ga4saq99] th {
    padding: .1em .5em;
}

thead[b-s9ga4saq99]  tr:nth-child(2n+1) {
    background-color: rgb(5,39,103);
    color: white;
}

tbody[b-s9ga4saq99]  tr:nth-child(2n+1){
    background-color: #eee;
}
/* _content/Blazyor/Components/BlazyTopNav.razor.rz.scp.css */
[b-av864d0wxu] ul {
    list-style: none;
    position: relative;
    padding: 0;
}

[b-av864d0wxu] .nav-item {
    position: relative;
    font-size: 0.8rem;
    padding: 0;
    cursor: pointer;
}

    [b-av864d0wxu] .nav-item .nav-item ul {
        left: 20%;
        top: 70%;
    }

    [b-av864d0wxu] .nav-item a {
        color: #666666;
        border-radius: 4px;
        display: flex;
        align-items: center;
        line-height: 1.2rem;
        padding: .5em 1.5em;
    }

    [b-av864d0wxu] .nav-item ul {
        position: absolute;
        border: solid 1px #eee;
        border-radius: 5px;
        z-index: 10;
        background-color: white;
        line-height: 1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }

    [b-av864d0wxu] .sublinks {
        display: none;
    }

    [b-av864d0wxu] .nav-item:hover > .sublinks {
        display: block;
    }

    [b-av864d0wxu] .nav-item a.active {
        background-color: #eee;
    }

    [b-av864d0wxu] .nav-item a:hover {
        color: black;
    }

    [b-av864d0wxu] .nav-item a > .oi {
        font-size: .9em;
        padding-left: 1em;
        padding-bottom: .3em;
        color: gray;
    }

    [b-av864d0wxu] .nav-item a > .label {
        flex-grow: 1;
    }



@media (min-width: 641px) {

    .wrapper[b-av864d0wxu]  > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }

    [b-av864d0wxu] .nav-item .nav-item ul {
        left: 20%;
        top: 70%;
    }
}
/* _content/Blazyor/Layouts/BlazyLinearLayout.razor.rz.scp.css */
.layout-wrapper[b-km4otfv74y] {
    display: grid;
    min-height: 100vh;
    grid-template-rows: repeat(2, min-content);
    justify-items: stretch;
}

.header[b-km4otfv74y] {
    border-bottom: 1px solid #eee;
    margin-bottom: 1em;
}

.header[b-km4otfv74y],
main[b-km4otfv74y],
footer[b-km4otfv74y] {
    display: grid;
    justify-items: stretch;
}

footer[b-km4otfv74y] {
    background-color: lightgray;
}

@media (min-width: 641px) {
    main[b-km4otfv74y],
    .header[b-km4otfv74y],
    footer[b-km4otfv74y] {
        justify-items: center;
    }
    main > *[b-km4otfv74y],
    .header > *[b-km4otfv74y],
    footer > *[b-km4otfv74y] {
        width: 641px;
    }
}

@media (min-width: 768px) {
    main > *[b-km4otfv74y],
    .header > *[b-km4otfv74y],
    footer > *[b-km4otfv74y] {
        width: 768px;
    }
}

@media (min-width: 992px) {
    main > *[b-km4otfv74y],
    .header > *[b-km4otfv74y],
    footer > *[b-km4otfv74y] {
        width: 992px;
    }

}


@media (min-width: 1200px) {
    main > *[b-km4otfv74y],
    .header > *[b-km4otfv74y],
    footer > *[b-km4otfv74y] {
        width: 1200px;
    }
}
/* _content/Blazyor/Layouts/BlazySideNavLayout.razor.rz.scp.css */
.page[b-w0visa9yoy] {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    height: 100vh;
}

.span-rows-2[b-w0visa9yoy] {
    grid-row: span 2;
}

.span-cols-2[b-w0visa9yoy] {
    grid-column: span 2;
}

.span-cols-3[b-w0visa9yoy] {
    grid-column: span 3;
}

main[b-w0visa9yoy] {
    overflow-y: auto;
    display: grid;
}

    main *[b-w0visa9yoy] {
        padding: 1em;
    }

.top-row[b-w0visa9yoy] {
    padding: 0 1em;
    background-color: #eee;
    display: none;
}

nav[b-w0visa9yoy] {
    grid-column: 1 / -1;
}

footer[b-w0visa9yoy] {
    grid-column: 1 / -1;
    background-color: lightgray;
}

@media (min-width: 641px) {
    .page[b-w0visa9yoy] {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
    }

    nav[b-w0visa9yoy] {
        min-height: 100vh;
        display: grid;
        grid-column: 1;
    }

    main[b-w0visa9yoy] {
        grid-template-columns: auto minmax(min-content, auto);
    }

    .top-row[b-w0visa9yoy] {
        display: block;
    }
}
